$color: $mid-grey;

.select {
  position: relative;
}

.select:after {
  content: "\25BC";
  position: absolute;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  top: 50%;
  right: 5px;
  color: $color;
}

.selectInput {
  composes: textInput from "./inputField.css";
  -webkit-appearance: none;
  -moz-appearance: none;
}

.success {
  composes: success from "./inputField.css";
}

.error {
  composes: error from "./inputField.css";
}
