{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-destructuring"
  ],
  "env": {
  "TEST": {
    "plugins": [
      [
        "babel-plugin-webpack-loaders",
        {
          "config": "./webpack/test-config.js",
          "verbose": false,
        }
      ]
    ]
  }
}
}
