.paymentDetails {
  padding: 2em;
  background: #FFF;
}

.detailsWrapper {
  display: flex;
  align-items: center;
}

.card {
  width: 350px;
  height: 200px;
  border: 1px solid $light-grey;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 120px 0 0 30px;
  margin-right: 30px;
  background:
    linear-gradient(
      120deg,
      rgba(255,255,255,0.1),
      rgba(255,255,255,0.1) 75%,
      rgba(0,0,0,0.1) 75%,
      rgba(0,0,0,0.1) 75.1%,
      rgba(0,0,0,0.05) 75.1%,
      rgba(0,0,0,0.05)
    ),
    linear-gradient(
      20deg,
      rgba(255,255,255,0.1),
      rgba(255,255,255,0.1) 75%,
      rgba(0,0,0,0.1) 75%,
      rgba(0,0,0,0.1) 75.1%,
      rgba(0,0,0,0.05) 75.1%,
      rgba(0,0,0,0.05)
    )
}

.cardDetails {
  font-weight: 400;
  margin-bottom: 0.5em;
}

.expiryDetails {
  margin-bottom: 0.5em;
}
