.paymentsForm {
  padding: 2em;
  background: #FFF;
  position: relative;
}

.disabled::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background-color: #fff;
  display: block;
  z-index: 100;
}

.button-container {
  display: flex;
  align-items: center;
}

.spinner {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.errorMsg {
  font-size: 14px;
  margin: 20px 0;
  color: $error-color;
  display: none;
}

.errorMsg.error {
  display: block;
}
